<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.galewilliams.Sirious</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/Resources/SiriousAutomationHelper</string>
	<key>Label</key>
	<string>com.galewilliams.Sirious.AutomationHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.galewilliams.Sirious.AutomationHelper</key>
		<true/>
	</dict>
</dict>
</plist>
